.travel-hero {
  background-image: linear-gradient(to left, #c3c8dbb3, #0e0a2cb3), url(/bg_image.webp);
  background-size: cover;
  background-position: center;
  border-radius: 25px;
  padding: 40px 0;
}



.hero-content {
  max-width: 700px;
}

.search-box {
  background: linear-gradient(to right, #0b122b, #150f20);
  border-radius: 25px;
  padding: 20px;
}

.tab-container {
  gap: 30px;
}

.tab {
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  position: relative;
}

.tab.active {
  color: #e63946;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #e63946;
}

.city-select {
  width: 160px;
  font-weight: 500;
}

.search-input {
  flex: 1;
  padding: 10px 15px;
}

.btn-dark {
  background-color: #1e1e1e;
  border: none;
}

.btn-dark:hover {
  background-color: #333;
}